<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>
<nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark"><!-- Navbar content --></nav>
<div> <a  href=" {% url "todo:index" %} " class="navbar-brand ms-5 mb-3 fb-bold ">ToDo</a>
</div>
<h1>
    Salam
</h1>
<main class="container">
    {% block content  %}
{% endblock %}
</main>
</body>
</html>